<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <div class="row">
    	<div class="col-md-4">
    		<%= image_tag "profile.png", width: 300, alt: 'Profile image', class: 'profile-img' %>
    	</div>
    	<div class="col-md-8">
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt consequuntur debitis dignissimos quis eveniet nulla assumenda perferendis perspiciatis vero voluptas sed, labore hic incidunt! Debitis adipisci facilis perspiciatis odit non, quo cum eveniet sit dicta ipsam iusto tempora, mollitia laborum, ex. Quod eius similique dolores iusto nihil aliquid amet doloribus nobis, laboriosam modi perferendis maiores?</p>

    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi placeat in id, labore temporibus commodi. Minus animi possimus porro architecto nesciunt commodi praesentium nostrum nihil dicta reprehenderit maiores perferendis nam dignissimos cum blanditiis autem, tenetur totam facilis, voluptatum culpa adipisci.</p>

            <p>
                <button
                    class="btn btn-info"
                    type="button"
                    data-toggle="collapse"
                    data-target="#exampleDrop"
                    aria-expanded='false'
                    aria-controls='exampleDrop'
                >
                    Example Drop
                </button>
                <button
                    class="btn btn-info"
                    type="button"
                    data-toggle="collapse"
                    data-target="#education"
                    aria-expanded='false'
                    aria-controls='exampleDrop'
                >
                    Education
                </button>                
            </p>

            <div class="collapse" id="exampleDrop">
                <div class="card card-block">
                   1 stuff dropped from example drop
                </div>
                <div class="card card-block">
                   2 stuff dropped from example drop
                </div>
                <div class="card card-block">
                   3 stuff dropped from example drop
                </div>
            </div>

            <div class="collapse" id="education">
                <div class="card card-block">
                   1 education dropped from example drop
                </div>
                <div class="card card-block">
                   2 education dropped from example drop
                </div>
                <div class="card card-block">
                   3 education dropped from example drop
                </div>
            </div>            

    	</div>
    </div>
  </div>
</div>
